{% extends 'QuestServerQuestBundle:Question:layout.html.twig' %}

{% block content %}
    <h1>Question</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Locationhuman</th>
                <td>{{ entity.locationHuman }}</td>
            </tr>
            <tr>
                <th>Locationcoord</th>
                <td>{{ entity.locationCoord }}</td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>{{ entity.summary }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_question', { 'questID':entity.quest.id }) }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_question_edit', { 'id': entity.id, 'questID':entity.quest.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
